### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
/.idea/
/SimpleStringsUtils.iml
/src/main.java
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/SimpleStringsUtil.iml
/.idea/vcs.xml